name: Example Workflow

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string


jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Hello Name
        run: echo ${name}
